<!DOCTYPE html>
<html>
  <head>
  <title>Pixi Game</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="/bower_components/pixi.js/bin/pixi.js"></script>
  <style>
    html {
      height: 100%;
      width: 100%;
    }
    body {
      height: 100%;
      width: 100%;
      margin: 0px;
    }
    canvas {
      height: 100%;
      width: 100%;
    }
  </style>
  </head>
  <body>

  </body>
  <script type="text/javascript" src="/dist/dist.js"></script>
</html>
